@font-face {
    font-family: 'Hkreg';
    src: url('../fonts/HankenGrotesk-Regular.ttf') format('truetype');
    src: url('../fonts/HankenGrotesk-Bold.ttf') format('bold');
    src: url('../fonts/HankenGrotesk-SemiBoldItalic.ttf') format('bolditalic');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: radial-gradient(#7E573C, #280E31);
    background-size: auto;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0a0213;
    color: white;
}

/* Navigation Bar */
.heading{
    background-image:url("../assests/img/glitter.gif");
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    height: 87px;
}

.fullNav{
    display: flex;
    flex-wrap: nowrap;
    background-color: #8076AF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 560px;
    padding-right: 560px;
}
a:link{
    text-decoration: none ;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
}
a:hover {
    color: #e5d0ff;
}

.topLinks{
    text-decoration: none ;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 5px;
}

nav {
    display: flex;
    flex-direction: column;
    background-image:url("../assests/img/glitter.gif");
    height: 67px;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    font-family: 'Hkreg' format('bold');
}


/* starting display page content */

.container{
    display: grid;
    /* grid-template-areas: 
    "trending whatsNew" 
    "trending recommendations"; */
    grid-template-columns: auto auto ;
    gap: 5px;
    
    padding: 5px;
}
img{
    max-width: 175px;
    border: #280E31 solid 3px;
    border-radius: 5px;
}
figure {
    position: relative;
    
  }
  
  figcaption {
    position: absolute;
    color: #F8E2EF;
    backdrop-filter: blur(14px) brightness(75%);
    margin-bottom: 5px;
  }
h2{
    text-align: center;
    background-color: #60376C;
    padding: 5px;
    margin: 0;
}
ol{
    font-size: 30px;
    margin-top: 0;
    margin-left: 15px;
    
}
li{
    padding: 5px;
}

.stack{
    flex-direction: column;
    
}
.newRec{
    flex-direction: column;
}
.trending{
    display: flex;
    flex-wrap: nowrap;
    
    grid-row: 1/4;
    background-color: #A495B8 ;
    padding-bottom: 60.5px;
    padding-top: 20px;
    margin-top: 0;
}

.whatsNew{
    display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #A495B8 ;
  padding-bottom: 5px;

}

.recommendations{
    display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #A495B8 ;
  padding-bottom: 10px;
}