/*HEADER START*/
@font-face {
  font-family: "Hkreg";
  src: url("../fonts/HankenGrotesk-Regular.ttf") format("truetype");
  src: url("../fonts/HankenGrotesk-Bold.ttf") format("bold");
  src: url("../fonts/HankenGrotesk-SemiBoldItalic.ttf") format("bolditalic");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  background-image: url("/cosmira/assests/img/glitter.gif");
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  background-color: rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0;
  height: 87px;
}

.logo img {
  height: 90px;
  width: 300px;
}

/* Search Bar */
.search input {
  padding: 10px 80px;
  border-radius: 15px;
  margin-right: 20px;
  border: none;
  outline: none;
  background: rgba(132, 139, 198, 0.555);
  font-family: "Hkreg" format("truetype");
  font-size: 15px;
  text-align: center;
}

/* Navigation Bar */
nav {
  display: flex;
  background-color: #8076af;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  font-family: "Hkreg" format("bold");
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #e5d0ff;
}

/*HEADER END*/

body {
  background-image: radial-gradient(#7e573c, #280e31);
  background-attachment: fixed;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0a0213;
  color: white;
  overflow: hidden;
}

/*purple background box*/
.container {
  text-align: center;
  background: radial-gradient(#cab0b0, #402e56);
  border-radius: 10px;
  padding: 40px;
  margin: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  overflow: hidden; /* glitter box stays within box*/
  position: relative;
}

.glitter-block h1 {
  top: 0;
  left: 0px;
  position: absolute;
  transform: translate(50%, 0%);
  z-index: 2;
  font-size: 40px;
}
p {
  margin-bottom: 30px;
}

.glitter-block img {
  margin-left: -40px;
  margin-top: -40px;
  width: 150%;
  height: 100px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button1 {
  background: linear-gradient(135deg, #f8e2ef, #defdc7); 
  border: none;
  border-radius: 15px;
  color: #402e56;
  font-weight: bold;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none; 
  transition: background 0.3s;
  box-shadow: 0 0 15px 5px #30133a; 
}
.button1:hover {
  background: linear-gradient(
    250deg,
    #57406f,
    #c4c4c4
  ); 
}
.button2 {
  background: linear-gradient(135deg, #f8e2ef, #b7dbff); 
  border: none;
  border-radius: 15px;
  color: #402e56;
  font-weight: bold;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 0 0 15px 5px #30133a;
}
.button2:hover {
  background: linear-gradient(
    250deg,
    #57406f,
    #c4c4c4
  ); 
}
.button3 {
  background: linear-gradient(135deg, #f8e2ef, #f3b7ff);
  border: none;
  border-radius: 15px;
  color: #402e56;
  font-weight: bold;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 0 0 15px 5px #30133a; 
}
.button3:hover {
  background: linear-gradient(
    250deg,
    #57406f,
    #c4c4c4
  ); 
}

.button-single {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.skip-button {
  margin-top: 20px;
  background: #6d4b77; 
  border: none;
  border-radius: 15px;
  color: white;
  padding: 15px;
  width: 100px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none; 
  transition: background 0.3s;
  box-shadow: 0 0 15px 5px #30133a; 
}
.skip-button:hover {
  background: #39273f; 
}

/*Quiz-Beginner Survey Start*/
.bq-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 30px;
  color: #30133a;
}

.quiz-text {
  color: #30133a;
}
.bq-question {
  margin-bottom: 20px;
}
.color-options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 10px;
}
.color-options label {
  background-color: #e0b0e4;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
input[type="radio"] {
  margin-right: 5px;
}
.submitbutton {
  margin-top: 20px;
  background: #6d4b77;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 15px;
  width: 100px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s;
  box-shadow: 0 0 15px 5px #30133a; 
}
.submitbutton:hover {
  background-color: #39273f;
}
/*Quiz-Beginner Survey End*/
